{% extends "base.html" %}
{%load crispy_forms_tags%}
{% block body %}

<div style="width:50%;margin:auto" novalidate >
    <h1>Pass Change page</h1>
    <form method='POST' >
        {% csrf_token %}
        {%if form.non_field_errors%}
        {%for er in form.non_field_errors%}
       <p class="bg-danger text_white p-3">  {{er}} </p>  
        {%endfor%}
        {%endif%}
        {%for fm in form%}
        <div class="mb-3">
              {{fm.label_tag}}
              {{fm}}
            <p class="text-danger ">{{fm.errors|striptags}}</p>
            </div>
           
            {%endfor%}
        <button class="btn btn-warning" type="submit">Change Password</button>
        
    </form>
</div>
{% endblock  %}